<mat-list>
  <mat-list-item>
    <span matListItemTitle>{{"Site URL"}}</span>
    {{website.websiteURL}}
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>{{"Added"}}</span>
    {{website.addedDate |  date: 'dd/MM/yyyy hh:mm:ss'}}
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>{{"Last Evaluation"}}</span>
    {{website.lastEvalDate |  date: 'dd/MM/yyyy hh:mm:ss'}}
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>{{"Rating status"}}</span>
    {{website.ratingStatus}}
  </mat-list-item>
</mat-list>

<div class="submit-page">
  <form>
    <mat-form-field>
      <input matInput #input placeholder="Enter your URL">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="submit(input.value)">Submit</button>
  </form>
</div>

<h1>Monitored Pages</h1>
<app-page-list [monitoredPages]="website.moniteredPages"></app-page-list>