<h1> Website Analysis </h1>

<p>
    Statistics of the evaluated pages go here (US6)
</p>

<div>

    <!-- <app-chart-info></app-chart-info> -->
    <h2>Error stats</h2>
    <div id="chart">
        <apx-chart
          [series]="this.stats!"
          [chart]="chartOptions.chart!"
          [dataLabels]="chartOptions.dataLabels!"
          [labels]="chartOptions.labels"
          [responsive]="chartOptions.responsive!"
          [legend]="chartOptions.legend!"
          [plotOptions]="chartOptions.plotOptions!"
        ></apx-chart>
    </div>
      
    
</div>